body{
font:1.2em/1.5 sans-serif;
}

/* FLEXBOX 1 */

.navflex{
display:flex;
justify-content:space-between;
max-width:750px;
list-style:none;
padding:0;
}

.navflex a{
background:#4d7298;
border:2px solid #77a6b6;
border-radius:0.5em;
color:white;
padding:0.5em;
text-decoration:none;
}

/* FLEXBOX 2 */

.flex2{
display:flex;
max-width:750px;
list-style:none;
padding:0;
margin:0;
}

.flex2 li{
flex:1;
background:#4d7298;
border:2px solid #77a6b6;
border-radius:0.5em;
color:white;
padding:0.5em;
}

/* FLEXBOX 3 */

.flex3{
  display:flex;
  flex-wrap:wrap;
  width:450px;
  list-style:none;
  padding:0;
  margin:0;
}

.flex3 li{
  width:90px;          
  margin:10px;
  background:#4d7298;
  border:2px solid #77a6b6;
  border-radius:0.5em;
  color:white;
  padding:0.5em;
  text-align:center;
}